.post-photo {
    /* max-height: 320px; */
    width: 100%;
    margin-bottom: 5%;
    height: 245px;
    overflow: hidden;
}

.showPost-button {
    border: none;
    background: none;
    padding: 0%;
    overflow: hidden;
}