
.navbar.mobile-menu{
  visibility:visible !important;
  position: fixed;
  display: flex;
  bottom: 0px;
  color: white;
  width: 100%;
  border-top: 1px solid black;
}
.nav{
  height: 50px;
  display: flex;
  justify-content: space-between;
  
}

li {
  width: 20%;
}
.nav-link.highlighted {
  background: linear-gradient(#F205E2,#F23322);
  border-radius: 32%;
  min-width: 20%;
}

.highlighted svg {
  display: flex;
  width: 20px;
  height: 20px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

@media (max-width: 320px) {
  
  .nav-link.highlighted svg {
    min-width: 20%;
  }

}

  




