<!-- <div *ngIf="user">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img id="profile-pic" src={{user.profilePic}}>
            </div>
            <div class="col-sm">
                <h5 id="name">{{user.name}}</h5>
                <p id="userid">@{{user.userid}}</p>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf="user">
    <div class="card sm-3 container">
        <div class="row justify-content-start">
            <div class="col-4 text-center position relative">
                <img id="profile-pic" src={{user.profilePic}}>
            </div>
            <div class="col col-log-2">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">@{{user.userid}}</p>
            </div>
        </div>
    </div>
</div>