<!-- <div *ngIf="user">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img id="profile-pic" src={{user.profilePic}}>
            </div>
            <div class="col-sm">
                <h5 id="name">{{user.name}}</h5>
                <p id="userid">@{{user.userid}}</p>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf="user">
    <div>
        <div class="row">
            <div class="col-2">
                <img id="profile-pic" src={{user.profilePic}}>
            </div>
            <div class="col-10 card-text">
                <h5 class="card-title">{{user.name}}</h5>
                <p class="card-text">@{{user.id}}</p>
            </div>
        </div>
    </div>
</div>