.carousel-css{  
    width: fit-content;
    overflow: hidden;
    object-fit: cover;
}

.carousel-item{
    object-fit: cover;
    overflow:hidden;
}

.subtitle-nav-bar{
    font-size: 0.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 500;
}