<div class="subtitle">
  <h5 class="navbar-brand mb-0 h1 subtitle-nav-bar">WHAT'S NEW TODAY</h5>
</div>

<div *ngIf="posts" id="carouselExampleControlsNoTouching" class="carousel slide carousel-css" data-bs-touch="true" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active" (click)="showPost(posts[0])"> 
      <app-post-container [post]="posts[0]" ></app-post-container>
    </div>
    <div (click)="showPost(post)" *ngFor="let post of posts | slice:1:4 " class="carousel-item">
        <app-post-container [post]="post"></app-post-container>
   <!--  <div class="carousel-item active"> 
      <img class="w-100" src="../../assets/users/user5.jpg"> -->
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- // full size photo modal -->


<div id="modal-photo" class="modal">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" src="" alt="">
</div>
